@black: #1f1f1f;
@primary: #2c2c2c;
@grey: #bfbfbf;
@light: #eeeeee;
@yellow: #fbd10e;
@lgYellow: #ffdd9a;
@red: #d7001a;
@dark: #a3a7b4;
// @basic: 'Arial';
@basic: 'Roboto Condensed';
@mainfont: 'Cuprum', sans-serif;
@titleLight: 'Cuprum', sans-serif;
@hoverred: #c4021a;
@mainText: #1f1f1f;

.tr {
	transition: .3s;
}

.title {
	font-family: 'Cuprum', sans-serif;
	font-weight: 700;
}
@productcardBg: #fff;
@cardShadow:rgba(0, 0, 0, 0.18);
@cardTitle: #1F1F1F;
@cardTextColor: #1F1F1F;
@cardfontfamily:'Cuprum Regular';
@cardTextFF: 'Roboto Condensed Regular';
@btnColor:#FBD10E;
@hoverColor:#FBD10E;
@btnHoverColor: #ffdd9a;
@cardBadgeColor: #fff;
@badgeSaleBg:#D7001A;
@badgeNeweBg: #0DC440;
@badgePopBg: #00B9EE;
@oldPrice: #D7001A;

@modalBg: #fff;
@modalTitileFF:'Cuprum Bold' ;
@modalTitileColor: #1f1f1f;
@deskSpan: #A3A7B4;
@borderColor: #eee;