section.aboutus#aboutus
	.container
		h2.title-2.text-center Наша пиццерия заботится о своих клиентах
		.row
			.col-lg-8.col-xl-7
				.aboutus-text
					p Наша пицца – это равномерно пропеченное тесто с большим количеством начинки. Наша доставка — простой способ попробовать блюда итальянской, японской, азиатской и американской кухни круглосуточно и 7 дней в неделю.

					p Каждый любитель итальянской кухни найдет то, что придется по вкусу. Но, конечно, пицца - наше кредо. Заказывайте сытную пиццу на пышном американском тесте с начинкой из мяса цыпленка и колбасок, либо нетленная классика — пицца Маргарита на тонком итальянском тесте с добавлением нежного сыра и ароматного базилика.

					p Если считаете, что пицца - враг стройности, то обязательно измените свое мнение, когда оцените вкус пиццы на тонком ржаном тесте. Мы готовим пиццу только из свежих ингредиентов, вручную замешиваем для нее тесто, используем фирменные соусы и доставляем пиццы в специальных термо-сумках, которые сохраняют пиццу горячей и мягкой.
			.col-lg-4.col-xl-3.offset-xl-1
				.aboutus-img
					img.lazy(data-src="img/main/cheff.png", width="330" alt="img")