.hidden-layout
section.delivery
	.container
		h1.page-title Доставка и оплата
		article.border-block
			h3.title-34 Доставка по городу
			.text-16
				p Если хочется отведать чего-нибудь вкусного, но при этом нет ни времени, ни желания стоять у плиты, правильным решением станет доставка еды домой. Именно эту услугу предлагает клиентам наша мини-пиццерия.Наш сайт доставки еды гарантирует всем своим клиентам множество важных преимуществ, среди которых возможность совершения заказа и предзаказа в любое время, оперативная доставка к месту назначения и удобное оформление заявок. Вы также оцените привлекательную стоимость блюд, а так же их несомненное качество.
		article
			.row
				.col-lg-8
					.text-block
						h3.title-3 Бесплатная доставка еды
						.text-16
							p Мы осуществляем бесплатную доставку еды на дом. Чтобы воспользоваться нашими предложением, оформите заказ стоимостью от 500 рублей. 
							p Любое выбранное вами блюдо будет в минимальные сроки доставлено в место назначения абсолютно бесплатно. Мы гарантируем не только бесплатную доставку еды, но и ее безупречное качество! Если хочется отведать чего-нибудь вкусного, но при этом нет ни времени, ни желания стоять у плиты, правильным решением станет доставка еды домой. Именно эту услугу предлагает клиентам наша мини-пиццерия.Наш сайт доставки еды гарантирует всем своим клиентам множество важных преимуществ, среди которых возможность совершения заказа и предзаказа в любое время, оперативная доставка к месту назначения и удобное оформление заявок. Вы также оцените привлекательную стоимость блюд, а так же их несомненное качество.
					.text-block
						h3.title-3 Оплата
						.text-16
							p Вы оплачиваете заказ при получении, безналичным и наличным расчетом. 
							p Мы принимаем: 
								span
									img(src="img/main/payments.png", alt="виды оплаты")

				.col-lg-4
					.delivery-info
						.title-3
							p Вы можете забрать заранее зарезервированный товар на следуюший день, при заказе c 12:00 до 00-00
						.address-block
							.address-block__item
								span Адрес:
								span г. Сочи ул. Морская
							.address-block__item
								span Режим работы:								
								span - Среда - Четверг - Воскресенье с 15:00 - 00:00
								span - Пятница - Суббота 15:00-02:00
								span - Понедельник - Вторник - выходные дни:)

