footer.footer#footer
	.map
		iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa6d1eecbc7aca11806c0009ed4d0ca8474816987e7339112b985b3b10ec96332&amp;source=constructor" width="100%" height="100%" frameborder="0")
	.container
		.row
			.col-md-5.col-lg-4
				.footer-content
					a(href="#").footer-logo
						img(src="img/main/footerLogo.png", alt="logo")
					.footer-address
						p г. Сочи, ул. Морская, 25
						a(href="mailto: info@gmail.com") info@gmail.com
					.footer-working-hours.text-2
						span.working-hours__title прием заказов:
						span.working-hours__info СР,ЧТ, ВС  с 15:00 - 00:00;   ПТ, ВТ - выходные дни
					.footer-contacts.d-flex
						a(href="tel:+79055555555") +7 (905) 555-55-55
						+social-icons
					button.page-btn2(data-toggle="modal" data-target="#orderModal") Написать нам
						i.far.fa-envelope
					.copyright-text
						span  &copy; 2018-2020. 
						span Пицца и роллы | Доставка пиццы и роллов
#back-top
	a(href="#top")
		span
			i.fas.fa-angle-double-up

//----MODAL WINDOW----//
#callForm.modal.fade(tabindex="-1" role="dialog"  aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-form-title
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
						i.fas.fa-times
			.modal-body
				.feedback-form
					form#contact-form
						h3 Оставьте свою заявку, и мы перезвоним вам в течение 5&nbsp;минут!
						.form-group
							input(type="text" name="userName" )
							span.fake-placeholder Имя #[span *]
							span.error-notify
							span.error-text Введите имя
						.form-group
							input(type="text" name="userPhone"  class="phone")
							span.fake-placeholder Телефон #[span *]
							span.error-notify
							span.error-text Введите номер телефона
						.form-group
							textarea(type="text" name="message"  )
							span.fake-placeholder Комментарий к заказу
						.form-group.agree-text
							label(class="form-label")
								input(class="form-checkbox" type="checkbox" name="agreePolitic")
								span.custom-checkbox
								| Принимаю  #[a(href="#") условия обработки] моих данных.
						.form-group
							input.page-btn2(type="submit" value="Отправить")
					#answer
//----MODAL WINDOW----//
#orderModal.modal.fade(tabindex="-1" role="dialog"  aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-body
				//Заголовок + крестик
				.modal-form-title
					h2.title-2 Пицца особая
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							svg(width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M16.3256 15L22.5 8.82563L21.1744 7.5L15 13.6744L8.82563 7.5L7.5 8.82563L13.6744 15L7.5 21.1744L8.82563 22.5L15 16.3256L21.1744 22.5L22.5 21.1744L16.3256 15Z" fill="#D7001A") 
								mask(id="maskg" mask-type="alpha" maskUnits="userSpaceOnUse" x="7" y="7" width="16" height="16")
									path(fill-rule="evenodd" clip-rule="evenodd" d="M16.3256 15L22.5 8.82563L21.1744 7.5L15 13.6744L8.82563 7.5L7.5 8.82563L13.6744 15L7.5 21.1744L8.82563 22.5L15 16.3256L21.1744 22.5L22.5 21.1744L16.3256 15Z" fill="white")
				// Основной контент
				.order-modal__content.product-page__content
					.row
						.col-lg-4
							.product-image
								img(src="img/main/pepperoni.png", alt="pizza" width='1100')
						.col-lg-8
							.product-set
								.product-set__row
									.text-16.ingredients
										p Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
									
									.text-16--light
										p Вес: 500гр

								.product-set__row.product-set__row-wrap
									.product-card__filters
										span.filter-name.text-16--bold Размеры:
										.filters-type
											.filters-type__item
												label
													input(type= "radio" name="product_diameter" value="26см")
													.fake-radiobutton 26см
											.filters-type__item
												label
													input(type= "radio" name="product_diameter" value="33см")
													.fake-radiobutton 33см
											.filters-type__item
												label
													input(type= "radio" name="product_diameter" value="40см")
													.fake-radiobutton 40см
											
									.product-card__filters
										span.filter-name.text-16--bold Тесто:
										.filters-type
											.filters-type__item
												label
													input(type="radio" name="product_testo" value="Традиционное")
													.fake-radiobutton Традиционное
											.filters-type__item
												label
													input(type="radio" name="product_testo" value="Тонкое")
													.fake-radiobutton Тонкое
								.product-set__row.product-set__column
									.text-16--bold.mb-19 Дополнительно:
									.product-set__types.d-flex
										.products-group__List
											ul
												li
													+inputCheckbox('group1', 'Сыр моцарелла 50 гр., 40руб')
												li
													+inputCheckbox('group1', 'Пепперони 30 гр., 40руб')
												li
													+inputCheckbox('group1', 'Ветчина 30 гр., 40руб')
												li
													+inputCheckbox('group1', 'Курица 50 гр.')
													

										.product-set__col
											.products-group__List
												ul
													li
														+inputCheckbox('group1', 'Сыр моцарелла 50 гр., 40руб')
													li
														+inputCheckbox('group1', 'Пепперони 30 гр., 40руб')
													li
														+inputCheckbox('group1', 'Ветчина 30 гр., 40руб')
													li
														+inputCheckbox('group1', 'Курица 50 гр.')
								.product-set__footer
									.total-amount
										div.d-flex
											span.title-16--bold Количество:
											+counter 
											.basket-item__cost
												.basket-item__cost-val.title-34 350
												.basket-item__cost-dim &#8381;
												span.old-price 800
													span.dim &#8381;
										button.page-button.page-button--red В корзину

