header.header
	.container
		.header-content
			.header-column
				a(href="index.html").logo
					img(src="img/logo.png", alt="logo")
				.header-nav
					.working-hours.text-2
						.working-hours__title прием заказов:
						.working-hours__info СР,ЧТ, ВС  с 15:00 - 00:00;   ПТ, СБ с 15:00 - 02:00;   ПН, ВТ - выходные дни
					nav.header-menu
						a(href="#") Главная
						a(href="#") Меню
						a(href="#") Доставка и оплата
						a(href="#") Новости и акции
						a(href="#") О нас
						a(href="#") Контакты
