header.header
	.container
		.header-content
			.fix-wrapper
				.header-column.header-column--left
					.contact-phone
						a(href="tel:+79055555555") +7 (905) 555-55-55
					.user-controls
						.user-log-in
							a(href="#")
								+log-in
						.user-basket
							a(href="#")
								+cart-icon
								span.basket-value 2
					.menu-toggle
						span
			.header-column
				a(href="index.html").logo
					img(src="img/logo.png", alt="logo")
				.header-nav
					.header-nav__row
						.working-hours.text-2.d-none.d-xl-flex
							.working-hours__title прием заказов:
							.working-hours__info СР,ЧТ, ВС  с 15:00 - 00:00;   ПТ, СБ с 15:00 - 02:00;   ПН, ВТ - выходные дни
						+social-icons
					ul.header-menu
						li.active
							a(href="#banner") Главная
						li
							a(href="#main-menu") Меню
						li
							a(href="#") Доставка и оплата
						li
							a(href="#") Новости и акции
						li
							a(href="#") О нас
						li
							a(href="#") Контакты



