section.banner
	.banner-layout
	.banner-slider.owl-carousel
		.banner-item(style="background-image: url(img/main-slider/slider1@1x.jpg)")
			.container
				.slide-content
					p.slide-suptitle Вкус недели
					h1.slide-title Пицца Марио
					p.product-descrip  Сливки, сыр, бекон и шампиньоны...
					a(href="#").page-button Купить
		.banner-item(style="background-image: url(img/main-slider/slider1@1x.jpg)")
		.banner-item(style="background-image: url(img/main-slider/slider1@1x.jpg)")