section.banner#banner
	.hidden-layout
	.banner-slider.owl-carousel
		.banner-item.lazy(style="background-image: url(img/slider1.jpg)" width="1920" )
			.container
				.slide-content
					.slide-content__title
						.sale-amimate
							img(src="img/sale.png", alt="sale" width="400")
						p.slide-suptitle.t-upper Вкус недели
						.slide-title-group

							h1.slide-title Пицца МАРИО
							
						p.product-descrip  Сливки, сыр, бекон и шампиньоны...
						a(href="#").page-button.page-button--red Купить
		.banner-item(style="background-image: url(img/slider2.jpg)" width="1920")
			.container
				.slide-content
					.sale-amimate
						img(src="img/sale.png", alt="sale" width="400")
					p.slide-suptitle.t-upper Очень вкусные!
					h1.slide-title Потрясающие роллы
					p.product-descrip  Сливки, сыр, бекон и шампиньоны...
					a(href="#").page-button.page-button--red Купить
		.banner-item.lazy(style="background-image: url(img/slider1.jpg)" width="1920")
			.container
				.slide-content
					p.slide-suptitle.t-upper Вкус недели
					h1.slide-title Пицца Преферита
					p.product-descrip  Ветчина, куринное филе, пепперони, моцарелла, томатный соус, помидоры, шампиньоны...
					a(href="#").page-button.page-button--red Купить