section.main-cta
	.title-group.text-center
		h2.title-2 Для лучшего вкуса и аромата блюд
		p Мы используем специальные специи c Кавказа, создающие неповторимый вкус
	.parallax.lazy(data-src="img/main/parallax.png")
