section.banner
	.banner-layout
	.banner-slider.owl-carousel
		.banner-item.lazy(data-src="img/main-slider/slider1@1x.jpg")
			.container
				.slide-content
					
					p.slide-suptitle.t-upper Вкус недели
					h1.slide-title Пицца МАРИО
					p.product-descrip  Сливки, сыр, бекон и шампиньоны...
					a(href="#").page-button.page-button--red Купить
		.banner-item(style="background-image: url(img/main-slider/slider2@1x.jpg)")
			.container
				.slide-content
					p.slide-suptitle Очень вкусные!
					h1.slide-title Потрясающие роллы
					p.product-descrip  Сливки, сыр, бекон и шампиньоны...
					a(href="#").page-button.page-button--red Купить
		.banner-item.lazy(data-src="img/main-slider/slider2@1x.jpg")
			.container
				.slide-content
					p.slide-suptitle Вкус недели
					h1.slide-title Пицца Преферита
					p.product-descrip  Ветчина, куринное филе, пепперони, моцарелла, томатный соус, помидоры, шампиньоны...
					a(href="#").page-button.page-button--red Купить