section#stocks
	.container
		.stocks-content
			.row
				.col-md-6.col-xl-4
					.stocks-content__text
						h2.title-2  Акция!
						.stock-product
							h4 Комбо сет
							.stock-product-desk
								p При покупке Сета № 3 до 25 декабря, вы получаете салат Чука и напиток на выбор БЕСПЛАТНО!
							.stock-product-price
								p 630 #[span руб]
						a(href="#!").page-button.page-button--red Купить
				.col-md-6.col-xl-8
					.stocks-content__img
						img(src="img/stocksImg.png" width="778" alt="img")