section.slider-line__block
	.container-fluid
		.slider-line__content
			//триггеры для слайдера пользовательские
			button.nav-btn--left
				i.fas.fa-chevron-left
			button.nav-btn--right
				i.fas.fa-chevron-right
				
			.slider-line.owl-carousel
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/1.png", width="120" alt="logo")
					.slider-line__right
						h4 Пепперони
						p от 225 руб.
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/2.png", width="120" alt="logo")
					.slider-line__right
						h4 Карбонара
						p от 435 руб.
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/3.png", width="120" alt="logo")
					.slider-line__right
						h4 Ранчоус
						p от 305руб.
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/4.png", width="120" alt="logo")
					.slider-line__right
						h4 Фанта 0,5 л.
						p от 75 руб.
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/1.png", width="120" alt="logo")
					.slider-line__right
						h4 Пепперони
						p от 305 руб.
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/2.png", width="120" alt="logo")
					.slider-line__right
						h4 Карбонара
						p от 225 руб.
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/3.png", width="120" alt="logo")
					.slider-line__right
						h4 Ранчоус
						p от 435 руб.
				a(href="#!").slider-line__item
					.slider-line__left
						img(src="img/slider-line/4.png", width="120" alt="logo")
					.slider-line__right
						h4 Фанта 0,5 л.
						p от 75 руб.
			