section
	.container
		h1.title-1 Heading-1
		h2.title-2 Heading-2
		h3.title-3 Heading-3
		h4.title-4 Heading-4
		h4.title-light Heading-5
		.form-group
			input(type="text")
			
		.form-group.error
			input(type="text" placeholder="placeholder" name="name")
			span.error-notify
			span.error-text field empty