section
	.container
		h1.title-1 Heading-1
		h2.title-2 Heading-2
		h3.title-3 Heading-3
		h4.title-4 Heading-4
		h4.title-light Heading-5
		.form-group
			input(type="text")
			
		.form-group.error
			input(type="text" placeholder="placeholder" name="name")
			span.error-notify
			span.error-text field empty
		+social-icons
	.container
		.product-card
			form(action="#")
				input(type="hidden" name="product_name"  value="Пицца Карбонара")
				input(type="hidden" name="product_weight" value="500 гр")
				.product-card__img
					img(class="lazy" data-src="img/products/prod1@1x.jpg", alt="product")
				.product-card__title
					h2.product-title(title="Пицца Карбонара") Пицца Карбонара
					span.card-text 500 гр
				.product-card__deskrip
					
					p Сливки, сыр Моцарелла, сыр Пармезан, бекон, шампиньоны
					.product-card__filters
						span.filter-name Размеры:
						.filters-type
							.filters-type__item
								label
									input(type= "radio" name="product_diameter" value="26см")
									.fake-radiobutton 26см
							.filters-type__item
								label
									input(type= "radio" name="product_diameter" value="33см")
									.fake-radiobutton 33см
							.filters-type__item
								label
									input(type= "radio" name="product_diameter" value="40см")
									.fake-radiobutton 40см
					.product-card__filters
						span.filter-name Тесто:
						.filters-type
							.filters-type__item
								label
									input(type="radio" name="product_testo" value="Традиционное")
									.fake-radiobutton Традиционное
							.filters-type__item
								label
									input(type="radio" name="product_testo" value="Тонкое")
									.fake-radiobutton Тонкое
				.product-card__calc
					.product-card__prises
						span.new-price
							span.value 500
							span.dim &#8381;
						span.old-price
							span.value 800
							span.dim &#8381;
					+counter
				.product-card__buttons
					.btn-light
						a(href="#!") Дополнительно
					.btn-yellow