section
	.container
		h1.title-1 Heading-1
		h2.title-2 Heading-2
		h3.title-3 Heading-3
		h4.title-4 Heading-4
		h4.title-light Heading-5
		
			
		.form-group.error
			input(type="text" name="userName" )
			span.fake-placeholder Имя*
			span.error-notify
			span.error-text Введите имя
		br
		br
		.form-group.error
			input(type="text" name="userName" )
			span.fake-placeholder Имя*
			span.error-notify
			span.error-text Введите имя
		+social-icons
	.container
		label.form-label
			input.form-checkbox(type="checkbox" name="form-checkbox")
			span.custom-checkbox
			
	.container
		+main-product-card
	.container
		+saleCard('action1', 27.02, ' Маленькая пицца пепперони или маргарита за&nbsp;200&nbsp;руб', 'Скидка действует при покупке большой пиццы')
	.container(style="margin-top:50px; margin-bottom: 100px; ")
		.basket-item
			.row
				.col-4.col-md-3.col-lg-2
					.basket-item__img
						img(src="img/basket-product1.png", alt="product" width='170')
				.col-8.col-md-3.col-lg-3
					.basket-item__head
						h3.title-34 
							span Пицца
							span “Особая”
						.basket-item__property
							.product-card__filters
								span.filter-name Тесто:
								.filters-type
									.filters-type__item
										label
											input(type="radio" name="product_testo" value="Традиционное" checked)
											.fake-radiobutton Традиционное
							.product-card__filters
								span.filter-name Pазмер:
								.filters-type
									.filters-type__item
										label
											input(type="radio" name="product_diameter" value="33" checked)
											.fake-radiobutton 33 см
				.col-md-6.col-lg-4.border-col
					.basket-item__descrip.text-16
						.basic-descrip
							p Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
						.addition-set
							button.remove-item.remove-addition
								+times(16, 16)
							p Дополнительно: Сыр моцарелла 50&nbsp;гр. Пепперони 30&nbsp;гр. Ветчина 30&nbsp;гр. Маслины&nbsp;20гр. Оливковое масло 20&nbsp;гр.
				.col-lg-3
					.basket-item__calc
						button.remove-item.remove-basket-item
							+times(30, 30)
						.basket-item__addInfo Вес: 550 гр
						.basket-item__summ
							+counter(class="product-counter--big")
							.basket-item__cost
								.basket-item__cost-val.title-34 650
								.basket-item__cost-dim руб
						
							
							
							