.contacts-content {
	.feedback-form {
		max-width: 100%;
	}

	.title-2 {
		margin-bottom: 30px;
	}

	.form-block {
		justify-content: space-between;

		.form-group {
			width: 48%;
		}

	}

	.form-group {
		textarea {

			height: 80px;
		}

		.page-btn2 {
			width: 100%;
		}
	}

	.address-block {
		max-width: 490px;
		margin-left: auto;
		margin-right: auto;
	}

	.address-block__item {
		span:first-child {
			color: @yellow;
			margin-bottom: 4px;
		}

		a {
			color: @black;

			&:hover {
				color: @yellow;
			}
		}
	}
}