.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #fff;
	height: 130px;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-column {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 30px;
	width: 260px;
}

.working-hours {
	display: flex;
	align-items: center;
}

.working-hours__title {
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 6px;
}