/*****ГЛАВНАЯ - ПАРАЛЛАКС-БЛОК****/
.main-cta {
	position: relative;
	background-color: @black;
	height: 468px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;

	@media(max-width:1199px) {
		height: 350px;
	}

	@media(max-width:991px) {
		height: 300px;
	}

	@media(max-width:767px) {
		height: 250px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .5);

	}

	h2,
	p {
		color: #fff;
	}

	.title-group {
		position: relative;
		z-index: 2;
		// position: absolute;
		// top: 100px;
		// left: 0;
		// right: 0;

		// z-index: 2;

		h2 {
			text-transform: uppercase;
			margin-bottom: 25px;

		}

		p {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	// .parallax {

	// 	height: 300px;
	// 	background-attachment: fixed;
	// 	background-position: left top;
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	position: relative;
	// }
}