.banner-layout {
	height: 130px;
}

.banner-item {
	height: 640px;
	background-position: center;
	background-size: cover;

}

.slide-content {
	color: #fff;
	font-family: @titleLight;
	height: 640px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 60%;
	font-size: 35px;

	.page-button {
		margin-top: 40px;
		padding-left: 30px;
		padding-right: 30px;
	}

	@media(max-width:1199px) {
		max-width: 100%;
	}

}

.slide-suptitle {

	font-size: 50px;
	font-size: 1.4285em;
	width: fit-content;
	border-bottom: 4px solid #fff;
	line-height: 1.1;
}

.slide-title {
	font-size: 120px;
	font-size: 3.4285em;
	font-family: @title;
	line-height: 1;
}

.product-descrip {
	font-size: 1em;
}