extends ../layouts/layout.pug

block content
	
	+header([{hrefLink: 'index.html', text: 'Главная'}, {hrefLink: 'index.html#main-menu', text: 'Меню'}, {hrefLink: 'delivery-page.html', text: 'Доставка и оплата' }, {hrefLink: 'page-sales.html', text: 'Новости и акции'}, {hrefLink: 'aboutus.html', text: 'О нас'}, {hrefLink: 'contacts.html', text: 'Контакты', addClass:'active'}])
	.content-wrapper
		include ../sections/_contacts.pug	
		include ../sections/_footer.pug
	
block variables
	-var title = "Контакты";