extends ../layouts/layout.pug

block content
	
	include ../sections/_header.pug
	include ../sections/_main-slider.pug
	include ../sections/_main-section-menu.pug
	include ../sections/_main-cta.pug
	include ../sections/_main-benefits.pug
	include ../sections/_main-action.pug
	include ../sections/_aboutus.pug
	include ../sections/_footer.pug
	
block variables
	-var title = "Главная";