extends ../layouts/layout.pug

block content
	
	include ../sections/_header.pug
	.content-wrapper
		include ../sections/_page-sales.pug	
		include ../sections/_footer.pug
	
block variables
	-var title = "Акции и новости";